.post {
  background-color: #fff;
  padding: 15px 15px 15px 80px;
  border-bottom: 1px solid #eee;
  position: relative;

  &:hover {
    background-color: #f9f9f9;
  }
  
  img {
    position: absolute;
    margin-top: -10px;
    left: 20px;
    top: 35%;
  }

  .thumbnail {
    width: 40px;
    height: 40px;
  }

  .title {
    a, a:hover {
      color: #34495e;
      text-decoration: none;
    }
  }

  .meta {
    font-size: .85em;
    color: #828282;

    a {
      color: #828282;
      text-decoration: underline;

      &:hover {
        color: #1daaf1;
      }
    }

    .actions {
      display: inline-block;
      // margin-left: 5px; 
    }
    .source {
      text-decoration: none;
      padding: 3px 8px !important;
      &:hover {
        color: #000;
      }
    }
    
    .btn {
      margin-right: 5px;
    }

    .button-in-post {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: .3px;
      line-height: 16px;
      text-transform: uppercase;
      border-color: #e8e8e8;
      color: #000;
      fill: #000;
      height: 24px;
      padding: 0 8px;
      border-radius: 3px;
      cursor: pointer;
      outline: 0;
      background: #fff;

      &:hover {
        background: #e8e8e8;
      }
    }

    .facebook-share-button {
      @extend .button-in-post;
    }

    .save-button {
      @extend .button-in-post;
    }

    .sub-button {
      @extend .button-in-post;

      background: #f8f8f8;
      border-radius: 3px !important;
    }
    
    .plus-button {
      @extend .button-in-post;

      background: #f8f8f8;
      width: 0;
      height: 0;
      overflow: hidden;
      border: 0;
      border-left: 0 solid #e8e8e8;
      transition: width .1s ease-out;

      &:after {
        content: '+';
      }
    }

    .btn-group {
      &:hover {
        .plus-button {
          width: 26px;
          height: 24px;
          border: 1px solid #e8e8e8;
          border-left-width: 1px;
        }

        .sub-button {
          border-bottom-right-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
      }
    }
  }
}
.no-image {
  padding: 15px;
}