.header {
  position: fixed;
  z-index: 999;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1daaf1;

  .nav {
    background-color:#1daaf1;
    
    .nav-item{
      @media (max-width: 575px) {
        margin-left: 15px;

        .dropdown-menu{
            background-color:#1daaf1;
            border: none;
            padding: 0;

            .dropdown-item {
              color: #f7f7f7;

              &:active, &:focus {
                background-color: #1daaf1;
              }
            }
        }        
      }
    }
  }
  .is-logout{
    .nav-item:last-child{
      display: none;
      @media (max-width: 575px) {
        display: block;
        .nav-link{
          font-size: 15px;
          border: none;
          background-color: #1daaf1;
        }
      }
    }
  }
  .is-hide{
    .nav-item{
      @media (max-width: 575px) {
        display: none;
      }
    }
    .btn-logFace{
      .loginMobile{
        display: none;
      }
      @media (max-width: 575px) {
        display: block;
        .loginMobile{
          display: block;
        } 
      }
    }
  }

  .navbar-brand{
      @media (max-width: 575px) {
        margin-left: 15px;
      }
  }

  .inner {
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;

    @media (max-width: 575px) {
      // padding-left: 10px;
      // padding-right: 10px;

    }
  }

  .a-last {
    margin-right: 0 !important;
  }

  .nav-link {
    color: #f7f7f7 !important;
    line-height: 24px;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
  }

  .router-link-active {
    color: #fff !important;
    font-weight: 400;
  }

  .avatar {
    width: 20px;
    height: 20px;
  }

  .dropdown-item {
    font-size: 15px;
  }
}
