.header {
  background-color:#1293fe;

  .container {
    padding: 0;

    .navbar {
      .show-overlay {
        transition: opacity 0.5s;
        opacity: 1;
        display: block;
        visibility: visible;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #137ff7;
        z-index: 2000;

        ul.nav.navbar-nav {
          text-align: center;
          position: relative;
          top: 25%;
          background: transparent;

          .nav-link {
            font-size: 45px;
            font-weight: 100;

            &:after {
              border-top: 0.2em solid;
              border-right: 0.2em solid transparent;
              border-left: 0.2em solid transparent;
            }
          }
          .dropdown-menu {
            background-color: transparent;
            text-align: center;

            .dropdown-item {
              font-size: 35px;
              font-weight: 100;

              @media (max-width: 575px) {}
                &:active, &:focus {
                  background-color: transparent;
                }
            }
          }
        }
      }
      .navbar-collapse {
        overflow-y: auto;

        @media (min-width: 576px){
          overflow-y: visible;
        }

        .nav {
          // background-color:#1daaf1;

          .nav-item{
            @media (max-width: 575px) {
              .dropdown-menu{
                  // background-color:#1daaf1;
                  border: none;
                  padding: 0;

                  .dropdown-item {
                    color: #f7f7f7;

                    &:active, &:focus {
                      // background-color: #1daaf1;
                    }
                  }
              }
            }
            .nav-link {
              color: #f7f7f7 !important;
              line-height: 24px;
              transition: color .15s ease;
              display: inline-block;
              vertical-align: middle;
              font-weight: 300;
              letter-spacing: .075em;

              @media (min-width: 768px) {
                padding-top: 0;
                padding-bottom: 0;
              }

              &:hover {
                  color: #f7f9fa;
                  text-decoration: none;
              }
            }
            .router-link-active {
              color: #f7f9fa !important;
              font-weight: 400;
            }
            .dropdown-menu {
              .dropdown-item {
                font-size: 15px;
              }
            }
          }
        }

        .footer {
          color: #f7f9fa;
          font-weight: 100;
          bottom: 0;
          right: 0;
          left: 0;
          text-align: center;
          position: absolute;
          padding: .5em 1em;
          a, a:hover, a:active, a:focus {
            color: #f7f9fa;
          }
          span {
            color: red;
          }
        }
      }
      .top-0-right-0 {
        top: 0;
        right: 0;
      }
      .height-width-56 {
        height: 56px;
        width: 56px;
      }
      .outer-menu {
        @extend .top-0-right-0;
        // position: fixed;
        z-index: 2001;
        display: none;
        @media (max-width: 575px) {
          display: block;
        }
        .checkbox-toggle {
          @extend .top-0-right-0;
          @extend .height-width-56;
          position: absolute;
          z-index: 2003;
          opacity: 0;
          margin: 0;
          &:checked + .hamburger div {
            transform: rotate(135deg);
          }
          &:checked + .hamburger div:before {
            top: 0;
            transform: rotate(90deg);
          }
          &:checked + .hamburger div:after {
            display: none;
          }
        }
        .hamburger {
          @extend .top-0-right-0;
          @extend .height-width-56;
          position: absolute;
          z-index: 2002;
          padding: .5em 1em;
          border-radius: 0 0.12em 0.12em 0;
          transition: box-shadow 0.4s ease;
          backface-visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          .in-hamburger {
            content: '';
            width: 100%;
            height: 2px;
            transition: all 0.4s ease;
          }
          div {
            @extend .in-hamburger;
            position: relative;
            flex: none;
            background: #f7f9fa;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before,
            &:after {
              @extend .in-hamburger;
              position: absolute;
              z-index: 1;
              left: 0;
              background: inherit;
            }
            &:before {
              top: 10px;
            }
            &:after {
              top: -10px;
            }
          }
        }
      }
      .z-index-1 {
        z-index: 1;
      }
    }
  }
}
