.header {
  background-color: #1daaf1;

  .container {
    padding: 0;
  }

  .nav {
    background-color:#1daaf1;
    
    .nav-item{
      @media (max-width: 575px) {
        .dropdown-menu{
            background-color:#1daaf1;
            border: none;
            padding: 0;

            .dropdown-item {
              color: #f7f7f7;

              &:active, &:focus {
                background-color: #1daaf1;
              }
            }
        }        
      }
    }
  }

  .a-last {
    margin-right: 0 !important;
  }

  .nav-link {
    color: #f7f7f7 !important;
    line-height: 24px;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;

    @media (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
  }

  .router-link-active {
    color: #fff !important;
    font-weight: 400;
  }

  .avatar {
    width: 20px;
    height: 20px;
  }

  .dropdown-item {
    font-size: 15px;
  }
}
