.Home .upperContent {
  padding: 15px; }

.Home .mainContent {
  position: absolute;
  margin: 30px 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  background-color: #fff;
  border-radius: 2px; }
