// variables and mixins
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// components
@import '~bootstrap/scss/navbar';
// utility
@import "~bootstrap/scss/utilities";

.header {
  position: fixed;
  z-index: 999;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1daaf1;

  .nav {
    background-color:#1daaf1;
  }

  .inner {
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;

    @media (max-width: 575px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .a-last {
    margin-right: 0 !important;
  }

  .nav-link {
    color: #f7f7f7 !important;
    line-height: 24px;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;
    margin-right: 1.8em;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
  }

  .router-link-active {
    color: #fff !important;
    font-weight: 400;
  }

  .avatar {
    width: 20px;
    height: 20px;
  }
}
