.post {
  background-color: #fff;
  padding: 20px 30px 20px 80px;
  border-bottom: 1px solid #eee;
  position: relative;
  line-height: 20px; }
  .post img {
    position: absolute;
    margin-top: -10px;
    left: 20px;
    top: 35%; }
  .post .thumnail {
    width: 40px;
    height: 40px; }
  .post .title a, .post .title a:hover {
    color: #34495e;
    text-decoration: none; }
  .post .meta {
    font-size: .85em;
    color: #828282; }
    .post .meta a {
      color: #828282;
      text-decoration: underline; }
      .post .meta a:hover {
        color: #1daaf1; }
    .post .meta button {
      margin-left: 5px; }
