.post {
  background-color: #fff;
  padding: 20px 30px 20px 80px;
  border-bottom: 1px solid #eee;
  position: relative;
  line-height: 20px; }
  .post:hover {
    background-color: #f9f9f9; }
  .post img {
    position: absolute;
    margin-top: -10px;
    left: 20px;
    top: 35%; }
  .post .thumnail {
    width: 40px;
    height: 40px; }
  .post .title a, .post .title a:hover {
    color: #34495e;
    text-decoration: none; }
  .post .meta {
    font-size: .85em;
    color: #828282; }
    .post .meta a {
      color: #828282;
      text-decoration: underline; }
      .post .meta a:hover {
        color: #1daaf1; }
    .post .meta button {
      margin-left: 5px; }
    .post .meta .button-in-post, .post .meta .facebook-share-button, .post .meta .sub-button, .post .meta .plus-button {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: .3px;
      line-height: 16px;
      text-transform: uppercase;
      border-color: #e8e8e8;
      color: #000;
      fill: #000;
      height: 24px;
      padding: 0 8px;
      border-radius: 3px;
      cursor: pointer;
      outline: 0; }
      .post .meta .button-in-post:hover, .post .meta .facebook-share-button:hover, .post .meta .sub-button:hover, .post .meta .plus-button:hover {
        background: #e8e8e8; }
    .post .meta .facebook-share-button {
      background: #fff; }
    .post .meta .sub-button {
      background: #f8f8f8;
      border-radius: 3px !important; }
    .post .meta .plus-button {
      background: #f8f8f8;
      width: 0;
      height: 0;
      overflow: hidden;
      border: 0;
      border-left: 0 solid #e8e8e8;
      transition: width .1s ease-out; }
      .post .meta .plus-button:after {
        content: '+'; }
    .post .meta .btn-group {
      margin-left: 5px; }
      .post .meta .btn-group:hover .plus-button {
        width: 26px;
        height: 24px;
        border: 1px solid #e8e8e8;
        border-left-width: 1px; }
      .post .meta .btn-group:hover .sub-button {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important; }
