.post {
    background-color: #fff;
    padding: 20px 30px 20px 80px;
    border-bottom: 1px solid #eee;
    position: relative;
    line-height: 20px;

    &:hover{
        background-color: #f9f9f9;
    }
    
    img {
        position: absolute;
        margin-top: -10px;
        left: 20px;
        top: 35%;
    }
    .thumnail{
        width: 40px;
        height: 40px;
    }
    .title{
        a, a:hover {
            color: #34495e;
            text-decoration: none;
        }
    }
    .meta {
        font-size: .85em;
        color: #828282;

        a{
            color: #828282;
            text-decoration: underline;

            &:hover{
                color: #1daaf1;
            }
        }
        button{
            margin-left: 5px;
        }

        .button-in-post{
            font-size: 11px;
            font-weight: 400;
            letter-spacing: .3px;
            line-height: 16px;
            text-transform: uppercase;
            background: #fff;
            border-color: #e8e8e8;
            color: #000;
            fill: #000;
            height: 24px;
            padding: 0 8px;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
                background: #e8e8e8;
            }
        }

        .facebook-share-button{
            @extend .button-in-post;
        }
        .sub-button{
            @extend .button-in-post;
            background: #f8f8f8;
        }
    }
}
