body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 15px;
  background-color: #f2f3f5;
  padding-top: 55px;
  overflow-y: scroll; }

.container {
  max-width: 800px;
  padding: 0; }
