// bootstrap core
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
// bootstrap components
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// utilities
@import "~bootstrap/scss/utilities";

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 15px;
  background-color: #f2f3f5;
  height: 100%;
}
