.footer {
  padding-bottom: 15px;
  text-align: center;
  color: rgba(19, 56, 86, 0.5);

  a, a:hover, a:active, a:focus {
    color: rgba(19, 56, 86, 0.5);
  }

  .heart {
    color: rgba(255, 0, 0, 0.5);
  }
}
